In [9]:
def hours():
    print('Open 9-5 dialy')

In [15]:
import zoo
zoo.hours()

Open 9-5 daily

In [16]:
import zoo as menagerie 
menagerie.hours()

Open 9-5 daily

In [23]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

ModuleNotFoundError: No module named 'sqlalchemy'